#portal {
  text-align: center;
  padding-top: 0px;
  color: white;
}
#test {
  text-align: center;
  padding-top: 0px;
}
body {
  background-color: black;
}
button {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: bold;
}

button:hover span {
  display: none
}

button:hover:before {
  content: "music"
}
